<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="https://github.com/OswaldoZarate.png" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>Mi nombre es Oswaldo y soy egresado de la Carrera de Ingeniería Electrónica. Mi especialidad es el Análisis de datos y el modelado predictivo con Machine Learning, Deep Learning y Visión por computadora.</p>
                    <br>
                    
                    <p>Mi objetivo principal es colaborar en las empresas a
                    generar valor a sus organizaciones a partir del analisis de datos, y convertirlos los datos en información relevante y comprensible que facilite sus tomas de decisiones y estrategias de negocio</p>
                    <br> 

                    <p>Me encantaría formar parte de un equipo de trabajo donde pueda contribuir y demostrar el conocimiento y las habilidades que poseo.</p>
                    <br> 

                    <p>Te invito cordialmente a revisar mi Portafolio de Proyectos, donde almaceno aplicaciones que desarrollo; así mismo mi Blog, que contiene noticias y tutoriales; 
                    también revise el Panel Curriculum Vitae, que contiene certificaciones obtenidas y habilidades que poseo.</p>
                    <br>
                    <p>Si desea contactar conmigo, puede hacerlo a través de los siguientes medios:</p>
                    <br>
                    <p> Muchas Gracias por su visita !!! puede contactarme en mis redes sociales.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">CONTACTAME!</a>
                            </a>
                        </div>
                        <div>
                            <a href="https://walozarate.github.io"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">PORFTAFOLIO DE PROYECTOS</a>
                            </a>
                            
                        </div>
                     
                    </div>

                    <div class="container columns is-centered">
                        <div>
                            <a href="https://oswaldzarate.github.io"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">PANEL CURRICULUM VITAE</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">BLOG PERSONAL</a>
                            </a>
                            
                        </div>
                    </div>

                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/formacion"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">PORTAFOLIO DE FORMACIÓN</a>
                            </a>
                        </div>

                        <!--<div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">Portfolio Proyectos</a>
                            </a>
                            
                        </div>-->

                    </div>

                    <div class="container columns is-centered">
                        <div>
                            <a href="https://drive.google.com/file/d/1EZC_AoytNbA7fs7bPTIhb0Q8p8GZ7uFE/view?usp=sharing"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">VER CURRICULUM-VITAE</a>
                            </a>
                        </div>

                        <!--<div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined" target="_blank">Portfolio Proyectos</a>
                            </a>
                            
                        </div>-->

                    </div>


                    <!--<div id="whatsapp-icon" style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
                        <a href="https://api.whatsapp.com/send?phone=59179626383" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
                    </div> -->         
                </div>
            </div>
        </div>
</section>