
<section>
<br>
<br>
    <div id="particles-js">
        <div class="services-section">
            <div class="inner-width">
                <h1 class="section-title">SERVICIOS DE CONSULTORÍA</h1>
                
                 <<!--div class="wrapper">
                    <h3>Servicios</h3> 
                </!--div> -->

                <div class="border"></div>
                <div class="services-container">
    
    
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fas fa-paint-brush"></i> </div>
                            <div class="service-title">Análisis de Datos</div>
                            <div class="service-desc">
                                Con técnicas de Limpieza de Datos, Análisis Exploratorio de Datos (EDA) y Mejora de Calidad de los Datos. </div>
                            <div class="service-desc" > Hago que sus datos sean consumibles por un modelo de Machine Learning y que sean interpretables. 
                            </div>
                        </div>
    
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fas fa-code"></i> </div>
                            <div class="service-title">modelado predictivo</div>
                            <div class="service-desc">
                                Obtenga más valor de sus datos con modelos predictivos basados en algoritmos de Machine Learning, que le permita una gestión ótima en su organización.
                            </div>
                        </div>
    
    
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fas fa-brush"></i> </div>
                            <div class="service-title">sistemas de recomendación</div>
                            <div class="service-desc">
                                Utilizo técnicas de Machine Learning para analizar y procesar información histórica recopilada de su organización y transformarla en conocimiento que permita personalizar las ofertas transmitidas a sus clientes, ya sea basadas en su ubicación, historial de compras, etc.
                            </div>
                        </div>
    
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fas fa-object-ungroup"></i> </div>
                            <div class="service-title">computer vision</div>
                            <div class="service-desc">
                                Utilizo modelos y algoritmos de DEEP LEARNING para detectar objetos en imágenes, reconocer patrones en imágenes, reconocer características en imágenes, Captura de Texto de facturas o formularios con Reconocimiento Optico de Caracteres (OCR).
                            </div>
                            
                        </div>
    
                        <div class="service-box">
                            <div class="service-icon">
                                <i class="fas fa-database"></i> </div>
                            <div class="service-title">desarrollo de aplicaciones web</div>
                            <div class="service-desc">
                                Usted tiene la idea y yo hago realidad esa idea en una Web-APP. Utilice todas las ventajas de la tecnología web moderna para lograr sus objetivos de manera más fácil y eficiente.</div>
                            <div class="service-desc">          
                                El desarrollo de aplicaciones web está aquí para mejorar su negocio y le permite mejorar su imagen en Internet.
                            </div>

                        </div>
                <!--       <div class="service-box">
                            <div class="service-icon">
                                <i class="fab fa-android"></i> </div>
                            <div class="service-title">Android</div>
                            <div class="service-desc">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur odit neque nobis quis et temporibus suscipi.
                            </div>
                        </div>   -->
    
    
                </div>
            </div>
        </div>

    </div>
   
</section>



