<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">
      <div id="box" class="typed-out">
        <h1 class="alpha">O</h1>
        <h1 class="alpha2 alpha">s</h1>
        <h1 class="alpha3 alpha">w</h1>
        <h1 class="alpha4 alpha">a</h1>
        <h1 class="alpha5 alpha">l</h1>
        <h1 class="alpha6 alpha">d</h1>
        <h1 class="alpha7 alpha">o</h1>
        <h1 class="alpha8 alpha"> </h1>
        <h1 class="alpha9 alpha">Z</h1>
        <h1 class="alpha10 alpha">á</h1>
        <h1 class="alpha11 alpha">r</h1>
        <h1 class="alpha12 alpha">a</h1>
        <h1 class="alpha13 alpha">t</h1>
        <h1 class="alpha14 alpha">e</h1>
      </div>
        <!-- <h1 class="title has-text-white-bis is-uppercase has-text-weight-bold">
          {{site.title}}
        </h1> -->

      <br>
      <h3 class="subtitle has-text-white is-size-3 is-uppercase has-text-weight-medium is-marginless animate__animated animate__backInUp"><span id="typed"></span>
      </h3>
      <hr>

      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Ver Más</a>
      </a>
          
    </div>
  </div>
  <div class="bg-music">
    <audio id="mymusic" src="../1.mp3" loop="">
    </audio>
    <button class="butn" style="font-size: 24px;">Music
    <i class="fa fa-play-circle-o"></i>
    <i class="fa fa-pause-circle-o"></i>
    </button>
  </div>
</section>