<section class="hero is-fullheight has-text-centered" id="hero">
  <div id="particle"></div>
    <div class="hero-body">
      <div id="box" class="typed-out">
        <h1 class="alpha">O</h1>
        <h1 class="alpha2 alpha">s</h1>
        <h1 class="alpha3 alpha">V</h1>
        <h1 class="alpha4 alpha">e</h1>
        <h1 class="alpha5 alpha">L</h1>
        <h1 class="alpha6 alpha">o</h1>
        <h1 class="alpha7 alpha">P</h1>
        <h1 class="alpha8 alpha">e</h1>
        <h1 class="alpha9 alpha">r</h1>
       <!-- <h1 class="alpha10 alpha">á</h1>
        <h1 class="alpha11 alpha">r</h1>
        <h1 class="alpha12 alpha">a</h1>
        <h1 class="alpha13 alpha">t</h1>
        <h1 class="alpha14 alpha">e</h1> -->
      </div>
  

      <div class="container">

               
        <!-- <h1 class="title has-text-white-bis is-uppercase has-text-weight-bold">
          {{site.title}}
        </h1> -->

        <br>
        <br>
      <h3 class="subtitle has-text-white is-size-4 is-uppercase has-text-weight-medium is-marginless animate__animated animate__backInUp"><span id="typed"></span>
      </h3>
      <br>
      <br>

      <a href="{{site.url}}{{site.baseurl}}/#about"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Ver Más</a>
      </a>

      <a href="{{site.url}}{{site.baseurl}}/#tarjetas"
        class="button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">PROY DESTACADOS</a>
      </a>
          
    </div>
  
</div>

  <!-- Para la musica, pero no funciona-->

  <!--
      <div class="bg-music">
          <audio id="mymusic" src="../1.mp3" loop="">
          </audio>
          <button class="butn" style="font-size: 24px;">Music
          <i class="fa fa-play-circle-o"></i>
          <i class="fa fa-pause-circle-o"></i>
          </button>
        </div>

      -->    
</section>