<section class="hero is-fullheight has-text-centered" id="tarjetas">
    
    <div id="darktext">
        <span id="text1"></span>
        <span id="text2"></span>
    </div>
    
    <svg id="filters">
        <defs>
            <filter id="threshold">
                <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                        0 1 0 0 0
                                        0 0 1 0 0
                                        0 0 0 255 -140" />
            </filter>
        </defs>
    </svg>
    
    <!--<p class="subtitle is-uppercase has-text-weight-medium has-text-red">PROYECTOS DESTACADOS</p> -->
    <div class="contenedor">

        <div class="contenedor_tarjeta">
            <a href="https://walozarate.github.io/projects/proj-1" target="_blank"> 
                 <figure>
                     <img src="/assets/images/predicsal.jpg" class="front" alt="">
                     <figcaption class="back"> 
                         <h2 class="titulo">PREDICTOR DE SALARIOS ML-APP</h2>
                         <p>Proyecto Machine Learning APP hasta la puesta en Producción</p>
                         
                         <hr>
                         <p>TECNOLOGIAS USADAS:</p>
                         <p>ALGORITMOS: Random Forest, Regression Linear,DecisionTree</p>
                         <p>MODELADO: Python, Pandas, Numpy, Matplotlib, Scikit-Learn</p>
                         <p>PRODUCCION: Streamlit, Heroku (PaaS)</p>
                     </figcaption>
                 </figure>
            </a>       
        </div>

        <div class="contenedor_tarjeta">
            <a href="https://walozarate.github.io/projects/proj-2" target="_blank"> 
                 <figure>
                     <img src="/assets/images/preseg.jpg" class="front" alt="">
                     <figcaption class="back"> 
                         <h2 class="titulo">PREDICTOR DE CARGOS POR SEGURO</h2>
                         <p> Proyecto ML-APP hasta puesta en Producción</p>
                         <hr>
                         <p>TECNOLOGIAS USADAS:</p>
                         <p>ALGORITMO: Random Forest, Regression Linear,DecisionTree</p>
                         <p>E.D.A.: Pandas, Numpy, Matplotlib, Seaborn</p>
                         <p>MODELADO: Python, Scikit-learn</p>
                         <p>PRODUCCION: Streamlit, Heroku (PaaS)</p>
                     </figcaption>
                 </figure>
            </a>       
        </div>


        <div class="contenedor_tarjeta">
               <a href="https://walozarate.github.io/projects/proj-3" target="_blank"> 
                    <figure>
                        <img src="/assets/images/class.jpg" class="front" alt="">
                        <figcaption class="back"> 
                            <h2 class="titulo">CLASIFICADORES ML-APP         
                            </h2>
                            <p>Proyecto ML-APP Clasificadores Machine Learning en Acción </p>
                            <hr>
                            <p>TECNOLOGIAS USADAS:</p>
                         <p>ALGORITMO: KNN, SVM, Random Forest </p>
                         <p>E.D.A.: Python, Pandas, Numpy, Matplotlib, Seaborn</p>
                         <p>MODELADO: Python Scikit-learn</p>
                         <p>PRODUCCION: Streamlit, Heroku (PaaS)</p>
                        </figcaption>
                    </figure>
               </a>       
        </div>

        <div class="contenedor_tarjeta">
            <a href="https://walozarate.github.io/projects/proj-4" target="_blank"> 
                 <figure>
                     <img src="/assets/images/meals.jpg" class="front" alt="">
                     <figcaption class="back"> 
                         <h2 class="titulo">GENERADOR DE RECETAS WEB-APP</h2>
                         <p>Web-APP que Automatiza la Generación de ideas de recetas de Cocina a traves de una API </p>
                         <hr>
                         <p>TECNOLOGIAS USADAS:</p>
                         <p>FRONT-END: HTML5, CSS3, JavaScript, D3.js, Bootstrap </p>
                         <p>Web Scraping: BeautifulSoup, Splinter, request</p>
                         <p>API: Python,Flask</p>
                         <p>PRODUCCION: Heroku (PaaS)</p>
                         
                     </figcaption>
                 </figure>
            </a>       
        </div>

        <div class="contenedor_tarjeta">
            <a href="https://walozarate.github.io/projects/proj-5" target="_blank"> 
                 <figure>
                     <img src="/assets/images/plancomidas.jpg" class="front" alt="">
                     <figcaption class="back"> 
                         <h2 class="titulo">MAGIC.PLAN PLANIFICADOR DE COMIDAS</h2>
                         <p>Web-APP que plafinica, organiza y edita recetas para simplificar su labor en la cocina</p>
                         <hr>
                         <p>TECNOLOGIAS USADAS:</p>
                         <p>FRONT END: HTML5, CSS3, JavaScript, JQuery,AJAX,Jinja2,Bootstrap </p>
                         <p>BACK END: PYTHON, FLASK, POSTGRESQL, SQLALCHEMY</p>
                         <p>API: https://comida-aleatoria.heroku.com</p>
                         <p>PRODUCCION: Heroku (PaaS)</p>
                     </figcaption>
                 </figure>
            </a>       
        </div>

    </div>


</section>
