---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
  <script src="typed.js"></script>
  <div id="whatsapp-icon" style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
    <a href="https://api.whatsapp.com/send?phone=59179626383" target="_blank">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50"></a>
  </div>
</body>
<script>
  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var item = document.getElementsByClassName('navbar-item');
    /* console.log(scroll); */
    if (scroll < 565) {
      item[1].classList.add('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 565 && scroll < 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.add('is-active');
      item[3].classList.remove('is-active');
    }
    if (scroll > 1130) {
      item[1].classList.remove('is-active');
      item[2].classList.remove('is-active');
      item[3].classList.add('is-active');
    }
  });
</script>
<!-- Typed.js DONT TOUCH THIS! -->
<div id="typed-strings">
</div>

<script>
    var typed = new Typed('#typed', {
        strings: ["Hola, Hello, Bonjour !",
            "Soy Oswaldo  ",
            "Y soy Ingeniero!",
            "Soy especialista en Machine Learning!",
            "Soy Desarrollador!",
            "Bienvenid@ a mi website personal!",
            "Da un vistazo a mi Portfolio de proyectos!",
            "Da un vistazo a mi Panel CV!",
            "Da un vistazo a mi Blog!",
            "Gracias por visitar mi página!"
        ],
        backSpeed: 30,
        smartBackspace: true,
        backDelay: 1500,
        startDelay: 1000,
        typeSpeed: 25,
        loop: true,

    });
</script>

</html>