---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">PORTFOLIO DE FORMACIÓN</p>
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Certificaciones Obtenidas y Cursos Realizados</p>
                </div>
               
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="946bed48-5835-46f3-b32c-fa6bd3d98fe0" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="502d5e5e-c48a-46ca-a44e-25f9e9b4ef04" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="aac16267-a4cc-4b3a-9c4e-cbf204aa3933" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f63036b7-3461-4e59-8b45-7854b26b3391" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="99ab2aa7-b558-4658-a918-c2221acff421" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="22fadd88-ad78-45cc-ab27-e3a582cb52fe" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                
                {% include formacion-card.html %}

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="58f3a0f0-46cf-4dc5-ad2e-5fe8b2d36bf3" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
                
                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="0b7b74f7-ff7b-48e0-922d-87e365003e38" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="cfe4a943-1dd5-4b83-930e-c7f40c7c5cb9" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="d02c2cf1-3dfa-4815-8d23-2b408b426ebd" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

                
            </div>
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>