---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MAGI RECETA app</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>

.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #4dd0e1;
}

</style>

<body>

  {% include navbar.html %}
  
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Generador de Recetas</h1>
      <p>Use esta app para generar ideas de recetas!</p>
      <p>Esta app tiene la misión de ayudar en la cocina generando una idea aleatoria de receta, cuando se terminan las ideas</p>
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input class="form-control" id='search_query' type="text"
                   placeholder="Agrege una palabra de busqueda, para generar recetas especificas..." aria-label="Search">
            <p></p>
            <button class="btn btn-primary btn-lg" id="search-btn" type="button" >Buscar Receta!</button>
            <p> </p>
            <p> </p>
            <p>------------------------------------------</p>
            <p>@Web App desarrollada por Oswaldo Zárate</p>
            <p>Más de mis proyectos en:</p>
            <a href="http://www.github.com/walozarate" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
            <p id="search_num"></p>
        </div>
    </div>
   </div>

  <div class="container">

      <div class="jumbotron text-center">

          <h2 id="Title"></h2>

        <div class="embed-responsive embed-responsive-16by9" id="image_responsive">

          <img
                  class="embed-responsive-item"
                  id="image1"
                  height=""
                  src="">
          </img>

        </div>
          <p>Click en el siguiente boton y genere una nueva y aleatoria receta !!</p>
          <button class="btn btn-info btn-lg" id="filter-btn" type="button" >Generador de Recetas Aleatorio</button>

        <h3>Ingredientes:</h3>
        <table id="ingredients_table" class="table table-striped" align="center">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody id="Ingredients" align="center"> </tbody>
            </table>

        <h3>Preparación:</h3>
          <h5 id="Instructions"></h5>

      </div>
      </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="static/js/data.js"></script>
  <script src="static/js/app.js"></script>
</body>

</html>
